-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: GraduationProjects_DB
-- ------------------------------------------------------
-- Server version	10.6.23-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `account_emailaddress`
--

DROP TABLE IF EXISTS `account_emailaddress`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `account_emailaddress` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `email` varchar(254) NOT NULL,
  `verified` tinyint(1) NOT NULL,
  `primary` tinyint(1) NOT NULL,
  `user_id` bigint(20) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `account_emailaddress_user_id_email_987c8728_uniq` (`user_id`,`email`),
  KEY `account_emailaddress_email_03be32b2` (`email`),
  CONSTRAINT `account_emailaddress_user_id_2c513194_fk_core_user_id` FOREIGN KEY (`user_id`) REFERENCES `core_user` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `account_emailaddress`
--

LOCK TABLES `account_emailaddress` WRITE;
/*!40000 ALTER TABLE `account_emailaddress` DISABLE KEYS */;
/*!40000 ALTER TABLE `account_emailaddress` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `account_emailconfirmation`
--

DROP TABLE IF EXISTS `account_emailconfirmation`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `account_emailconfirmation` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `created` datetime(6) NOT NULL,
  `sent` datetime(6) DEFAULT NULL,
  `key` varchar(64) NOT NULL,
  `email_address_id` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `key` (`key`),
  KEY `account_emailconfirm_email_address_id_5b7f8c58_fk_account_e` (`email_address_id`),
  CONSTRAINT `account_emailconfirm_email_address_id_5b7f8c58_fk_account_e` FOREIGN KEY (`email_address_id`) REFERENCES `account_emailaddress` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `account_emailconfirmation`
--

LOCK TABLES `account_emailconfirmation` WRITE;
/*!40000 ALTER TABLE `account_emailconfirmation` DISABLE KEYS */;
/*!40000 ALTER TABLE `account_emailconfirmation` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_group`
--

DROP TABLE IF EXISTS `auth_group`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `auth_group` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(150) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_group`
--

LOCK TABLES `auth_group` WRITE;
/*!40000 ALTER TABLE `auth_group` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_group` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_group_permissions`
--

DROP TABLE IF EXISTS `auth_group_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `auth_group_permissions` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `group_id` int(11) NOT NULL,
  `permission_id` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_group_permissions_group_id_permission_id_0cd325b0_uniq` (`group_id`,`permission_id`),
  KEY `auth_group_permissio_permission_id_84c5c92e_fk_auth_perm` (`permission_id`),
  CONSTRAINT `auth_group_permissio_permission_id_84c5c92e_fk_auth_perm` FOREIGN KEY (`permission_id`) REFERENCES `auth_permission` (`id`),
  CONSTRAINT `auth_group_permissions_group_id_b120cbf9_fk_auth_group_id` FOREIGN KEY (`group_id`) REFERENCES `auth_group` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_group_permissions`
--

LOCK TABLES `auth_group_permissions` WRITE;
/*!40000 ALTER TABLE `auth_group_permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_group_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_permission`
--

DROP TABLE IF EXISTS `auth_permission`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `auth_permission` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `content_type_id` int(11) NOT NULL,
  `codename` varchar(100) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_permission_content_type_id_codename_01ab375a_uniq` (`content_type_id`,`codename`),
  CONSTRAINT `auth_permission_content_type_id_2f476e4b_fk_django_co` FOREIGN KEY (`content_type_id`) REFERENCES `django_content_type` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=181 DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_permission`
--

LOCK TABLES `auth_permission` WRITE;
/*!40000 ALTER TABLE `auth_permission` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_permission` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `authtoken_token`
--

DROP TABLE IF EXISTS `authtoken_token`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `authtoken_token` (
  `key` varchar(40) NOT NULL,
  `created` datetime(6) NOT NULL,
  `user_id` bigint(20) NOT NULL,
  PRIMARY KEY (`key`),
  UNIQUE KEY `user_id` (`user_id`),
  CONSTRAINT `authtoken_token_user_id_35299eff_fk_core_user_id` FOREIGN KEY (`user_id`) REFERENCES `core_user` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `authtoken_token`
--

LOCK TABLES `authtoken_token` WRITE;
/*!40000 ALTER TABLE `authtoken_token` DISABLE KEYS */;
/*!40000 ALTER TABLE `authtoken_token` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `core_academicaffiliation`
--

DROP TABLE IF EXISTS `core_academicaffiliation`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `core_academicaffiliation` (
  `affiliation_id` int(11) NOT NULL AUTO_INCREMENT,
  `start_date` date NOT NULL,
  `end_date` date DEFAULT NULL,
  `user_id` bigint(20) NOT NULL,
  `university_id` int(11) NOT NULL,
  `college_id` int(11) DEFAULT NULL,
  `department_id` int(11) DEFAULT NULL,
  PRIMARY KEY (`affiliation_id`),
  UNIQUE KEY `core_academicaffiliation_user_id_univer_id_start__84aec2c9_uniq` (`user_id`,`university_id`,`start_date`),
  KEY `core_academicaffiliation_college_id_04cf1d13_fk_core_college_cid` (`college_id`),
  KEY `core_academicaffilia_department_id_e3498b06_fk_core_depa` (`department_id`),
  KEY `core_academicaffilia_university_id_eb968439_fk_core_univ` (`university_id`),
  CONSTRAINT `core_academicaffilia_department_id_e3498b06_fk_core_depa` FOREIGN KEY (`department_id`) REFERENCES `core_department` (`department_id`),
  CONSTRAINT `core_academicaffilia_university_id_eb968439_fk_core_univ` FOREIGN KEY (`university_id`) REFERENCES `core_university` (`uid`),
  CONSTRAINT `core_academicaffiliation_college_id_04cf1d13_fk_core_college_cid` FOREIGN KEY (`college_id`) REFERENCES `core_college` (`cid`),
  CONSTRAINT `core_academicaffiliation_user_id_e1de4333_fk_core_user_id` FOREIGN KEY (`user_id`) REFERENCES `core_user` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=18 DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `core_academicaffiliation`
--

LOCK TABLES `core_academicaffiliation` WRITE;
/*!40000 ALTER TABLE `core_academicaffiliation` DISABLE KEYS */;
INSERT INTO `core_academicaffiliation` VALUES (1,'2023-05-11','2025-12-04',2,1,3,3),(2,'2025-12-09',NULL,3,1,3,3),(3,'2025-12-09',NULL,14,1,3,4),(4,'2025-12-09',NULL,5,1,3,3),(5,'2025-12-09',NULL,4,1,3,3),(7,'2025-12-09',NULL,12,1,3,3),(8,'2025-12-09',NULL,21,1,3,NULL),(9,'2025-12-09',NULL,22,3,NULL,NULL),(10,'2025-12-09',NULL,7,1,3,3),(11,'2025-12-09',NULL,18,1,NULL,NULL),(12,'2025-12-09',NULL,13,1,3,3),(13,'2025-12-09',NULL,6,1,3,6),(14,'2025-12-09',NULL,20,1,3,4),(15,'2025-12-09',NULL,25,1,NULL,NULL),(16,'2025-12-10',NULL,16,1,NULL,NULL),(17,'2025-12-11',NULL,11,1,3,NULL);
/*!40000 ALTER TABLE `core_academicaffiliation` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `core_approvalrequest`
--

DROP TABLE IF EXISTS `core_approvalrequest`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `core_approvalrequest` (
  `approval_id` int(11) NOT NULL AUTO_INCREMENT,
  `status` varchar(20) NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `comments` longtext DEFAULT NULL,
  `group_id` int(11) DEFAULT NULL,
  `requested_by_id` bigint(20) NOT NULL,
  `approval_level` int(11) NOT NULL,
  `approval_type` varchar(50) DEFAULT NULL,
  `approved_at` datetime(6) DEFAULT NULL,
  `current_approver_id` bigint(20) DEFAULT NULL,
  `project_id` int(11) DEFAULT NULL,
  PRIMARY KEY (`approval_id`),
  KEY `core_approvalrequest_requested_by_id_f1139fd6_fk_core_user_id` (`requested_by_id`),
  KEY `core_approvalrequest_current_approver_id_f642b97d_fk_core_user` (`current_approver_id`),
  KEY `core_approvalrequest_project_id_753625f8_fk_core_proj` (`project_id`),
  KEY `core_approvalrequest_group_id_73052ee0_fk_core_group_group_id` (`group_id`),
  CONSTRAINT `core_approvalrequest_current_approver_id_f642b97d_fk_core_user` FOREIGN KEY (`current_approver_id`) REFERENCES `core_user` (`id`),
  CONSTRAINT `core_approvalrequest_group_id_73052ee0_fk_core_group_group_id` FOREIGN KEY (`group_id`) REFERENCES `core_group` (`group_id`),
  CONSTRAINT `core_approvalrequest_project_id_753625f8_fk_core_proj` FOREIGN KEY (`project_id`) REFERENCES `core_project` (`project_id`),
  CONSTRAINT `core_approvalrequest_requested_by_id_f1139fd6_fk_core_user_id` FOREIGN KEY (`requested_by_id`) REFERENCES `core_user` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `core_approvalrequest`
--

LOCK TABLES `core_approvalrequest` WRITE;
/*!40000 ALTER TABLE `core_approvalrequest` DISABLE KEYS */;
/*!40000 ALTER TABLE `core_approvalrequest` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `core_approvalsequence`
--

DROP TABLE IF EXISTS `core_approvalsequence`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `core_approvalsequence` (
  `sequence_id` int(11) NOT NULL AUTO_INCREMENT,
  `approval_levels` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin NOT NULL CHECK (json_valid(`approval_levels`)),
  `description` longtext DEFAULT NULL,
  `sequence_type` varchar(50) DEFAULT NULL,
  `assigned_at` datetime(6) DEFAULT NULL,
  `group_id` int(11) DEFAULT NULL,
  `project_id` int(11) DEFAULT NULL,
  PRIMARY KEY (`sequence_id`),
  UNIQUE KEY `sequence_type` (`sequence_type`),
  UNIQUE KEY `core_approvalsequence_group_id_project_id_8129418a_uniq` (`group_id`,`project_id`),
  KEY `core_approvalsequenc_project_id_5de514f7_fk_core_proj` (`project_id`),
  CONSTRAINT `core_approvalsequenc_project_id_5de514f7_fk_core_proj` FOREIGN KEY (`project_id`) REFERENCES `core_project` (`project_id`),
  CONSTRAINT `core_approvalsequence_group_id_a539623e_fk_core_group_group_id` FOREIGN KEY (`group_id`) REFERENCES `core_group` (`group_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `core_approvalsequence`
--

LOCK TABLES `core_approvalsequence` WRITE;
/*!40000 ALTER TABLE `core_approvalsequence` DISABLE KEYS */;
/*!40000 ALTER TABLE `core_approvalsequence` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `core_branch`
--

DROP TABLE IF EXISTS `core_branch`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `core_branch` (
  `ubid` int(11) NOT NULL AUTO_INCREMENT,
  `location` varchar(255) DEFAULT NULL,
  `address` varchar(255) DEFAULT NULL,
  `contact` varchar(255) DEFAULT NULL,
  `city_id` int(11) NOT NULL,
  `university_id` int(11) NOT NULL,
  PRIMARY KEY (`ubid`),
  UNIQUE KEY `core_branch_UID_BID_40515c6c_uniq` (`university_id`,`city_id`),
  KEY `core_branch_city_id_6e1ef5eb_fk_core_city_bid` (`city_id`),
  CONSTRAINT `core_branch_city_id_6e1ef5eb_fk_core_city_bid` FOREIGN KEY (`city_id`) REFERENCES `core_city` (`bid`),
  CONSTRAINT `core_branch_university_id_729a80f9_fk_core_university_uid` FOREIGN KEY (`university_id`) REFERENCES `core_university` (`uid`)
) ENGINE=InnoDB AUTO_INCREMENT=18 DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `core_branch`
--

LOCK TABLES `core_branch` WRITE;
/*!40000 ALTER TABLE `core_branch` DISABLE KEYS */;
INSERT INTO `core_branch` VALUES (1,NULL,NULL,NULL,3,1),(2,NULL,NULL,NULL,5,2),(3,NULL,NULL,NULL,6,3),(4,NULL,NULL,NULL,9,6),(5,NULL,NULL,NULL,10,7),(6,NULL,NULL,NULL,12,9),(7,NULL,NULL,NULL,13,10),(8,NULL,NULL,NULL,14,11),(9,NULL,NULL,NULL,15,12),(10,NULL,NULL,NULL,18,13),(11,NULL,NULL,NULL,17,14),(12,NULL,NULL,NULL,4,15),(13,NULL,NULL,NULL,4,16),(14,NULL,NULL,NULL,4,1),(15,NULL,NULL,NULL,4,19),(16,NULL,NULL,NULL,4,18),(17,NULL,NULL,NULL,4,17);
/*!40000 ALTER TABLE `core_branch` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `core_city`
--

DROP TABLE IF EXISTS `core_city`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `core_city` (
  `bid` int(11) NOT NULL AUTO_INCREMENT,
  `bname_ar` varchar(255) NOT NULL,
  `bname_en` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`bid`)
) ENGINE=InnoDB AUTO_INCREMENT=23 DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `core_city`
--

LOCK TABLES `core_city` WRITE;
/*!40000 ALTER TABLE `core_city` DISABLE KEYS */;
INSERT INTO `core_city` VALUES (2,'sana\'a',NULL),(3,'╪ث┘à╪د┘╪ر ╪د┘╪╣╪د╪╡┘à╪ر',NULL),(4,'╪╡┘╪╣╪د╪ة',NULL),(5,'╪د┘╪ص╪»┘è╪»╪ر',NULL),(6,'╪ز╪╣╪▓',NULL),(7,'╪ح╪ذ',NULL),(8,'╪░┘à╪د╪▒',NULL),(9,'╪╣╪»┘',NULL),(10,'╪ص╪╢╪▒┘à┘ê╪ز',NULL),(11,'┘à╪ث╪▒╪ذ',NULL),(12,'╪ص╪ش╪ر',NULL),(13,'╪د┘╪ذ┘è╪╢╪د╪ة',NULL),(14,'╪╣┘à╪▒╪د┘',NULL),(15,'╪╡╪╣╪»╪ر',NULL),(16,'╪د┘╪ش┘ê┘',NULL),(17,'╪د┘┘à╪ص┘ê┘è╪ز',NULL),(18,'╪د┘╪╢╪د┘╪╣',NULL),(19,'╪┤╪ذ┘ê╪ر',NULL),(20,'┘╪ص╪ش',NULL),(21,'╪ث╪ذ┘è┘',NULL),(22,'╪▒┘è┘à╪ر',NULL);
/*!40000 ALTER TABLE `core_city` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `core_college`
--

DROP TABLE IF EXISTS `core_college`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `core_college` (
  `cid` int(11) NOT NULL AUTO_INCREMENT,
  `name_ar` varchar(255) NOT NULL,
  `name_en` varchar(255) DEFAULT NULL,
  `branch_id` int(11) DEFAULT NULL,
  PRIMARY KEY (`cid`),
  KEY `core_college_branch_id_bd55f3f3_fk_core_branch_ubid` (`branch_id`),
  CONSTRAINT `core_college_branch_id_bd55f3f3_fk_core_branch_ubid` FOREIGN KEY (`branch_id`) REFERENCES `core_branch` (`ubid`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `core_college`
--

LOCK TABLES `core_college` WRITE;
/*!40000 ALTER TABLE `core_college` DISABLE KEYS */;
INSERT INTO `core_college` VALUES (1,'┘â┘┘è╪ر ╪د┘╪ز╪ش╪د╪▒╪ر ┘ê╪د┘╪د┘é╪ز╪╡╪د╪»',NULL,1),(2,'┘â┘┘è╪ر ╪د┘╪ز╪▒╪ذ┘è╪ر ╪╡┘╪╣╪د╪ة',NULL,1),(3,'┘â┘┘è╪ر ╪د┘╪ص╪د╪│┘ê╪ذ',NULL,1),(4,'┘â┘┘è╪ر ╪د┘┘ç┘╪»╪│╪ر',NULL,2),(5,'┘â┘┘è╪ر ╪د┘╪ص╪د╪│┘ê╪ذ',NULL,3),(6,'┘â┘┘è╪ر ╪د┘┘ç┘╪»╪│╪ر',NULL,1);
/*!40000 ALTER TABLE `core_college` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `core_collegeprogresspattern`
--

DROP TABLE IF EXISTS `core_collegeprogresspattern`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `core_collegeprogresspattern` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `is_default` tinyint(1) NOT NULL,
  `assigned_at` datetime(6) NOT NULL,
  `college_id` int(11) NOT NULL,
  `pattern_id` bigint(20) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `core_collegeprogresspattern_college_id_pattern_id_f6ba5a3c_uniq` (`college_id`,`pattern_id`),
  KEY `core_collegeprogress_pattern_id_3b4b914b_fk_core_prog` (`pattern_id`),
  CONSTRAINT `core_collegeprogress_college_id_16ad9214_fk_core_coll` FOREIGN KEY (`college_id`) REFERENCES `core_college` (`cid`),
  CONSTRAINT `core_collegeprogress_pattern_id_3b4b914b_fk_core_prog` FOREIGN KEY (`pattern_id`) REFERENCES `core_progresspattern` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `core_collegeprogresspattern`
--

LOCK TABLES `core_collegeprogresspattern` WRITE;
/*!40000 ALTER TABLE `core_collegeprogresspattern` DISABLE KEYS */;
/*!40000 ALTER TABLE `core_collegeprogresspattern` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `core_department`
--

DROP TABLE IF EXISTS `core_department`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `core_department` (
  `department_id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `description` longtext DEFAULT NULL,
  `college_id` int(11) NOT NULL,
  PRIMARY KEY (`department_id`),
  KEY `core_department_college_id_efc1eb5e_fk_core_college_cid` (`college_id`),
  CONSTRAINT `core_department_college_id_efc1eb5e_fk_core_college_cid` FOREIGN KEY (`college_id`) REFERENCES `core_college` (`cid`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `core_department`
--

LOCK TABLES `core_department` WRITE;
/*!40000 ALTER TABLE `core_department` DISABLE KEYS */;
INSERT INTO `core_department` VALUES (1,'┘┘è╪▓┘è╪د╪ة','',2),(2,'╪╖┘┘ê┘╪ر ┘à╪ذ┘â╪▒╪ر - ╪▒┘è╪د╪╢ ╪د╪╖┘╪د┘','',2),(3,'╪╣┘┘ê┘à ╪ص╪د╪│┘ê╪ذ','',3),(4,'┘╪╕┘à ┘à╪╣┘┘ê┘à╪د╪ز','',3),(5,'╪ز┘â┘┘ê┘┘ê╪ش┘è╪د ┘à╪╣┘┘ê┘à╪د╪ز','',3),(6,'╪╣┘┘ê┘à ╪ص╪د╪│┘ê╪ذ','',5),(7,'╪ز┘â┘┘ê┘┘ê╪ش┘è╪د ┘à╪╣┘┘ê┘à╪د╪ز','',5);
/*!40000 ALTER TABLE `core_department` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `core_departmentprogresspattern`
--

DROP TABLE IF EXISTS `core_departmentprogresspattern`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `core_departmentprogresspattern` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `is_default` tinyint(1) NOT NULL,
  `assigned_at` datetime(6) NOT NULL,
  `department_id` int(11) NOT NULL,
  `pattern_id` bigint(20) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `core_departmentprogressp_department_id_pattern_id_6c92fbc4_uniq` (`department_id`,`pattern_id`),
  KEY `core_departmentprogr_pattern_id_e1159cd0_fk_core_prog` (`pattern_id`),
  CONSTRAINT `core_departmentprogr_department_id_7c0540de_fk_core_depa` FOREIGN KEY (`department_id`) REFERENCES `core_department` (`department_id`),
  CONSTRAINT `core_departmentprogr_pattern_id_e1159cd0_fk_core_prog` FOREIGN KEY (`pattern_id`) REFERENCES `core_progresspattern` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `core_departmentprogresspattern`
--

LOCK TABLES `core_departmentprogresspattern` WRITE;
/*!40000 ALTER TABLE `core_departmentprogresspattern` DISABLE KEYS */;
/*!40000 ALTER TABLE `core_departmentprogresspattern` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `core_group`
--

DROP TABLE IF EXISTS `core_group`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `core_group` (
  `group_id` int(11) NOT NULL AUTO_INCREMENT,
  `group_name` varchar(255) NOT NULL,
  `project_id` int(11) DEFAULT NULL,
  `academic_year` varchar(9) DEFAULT NULL,
  `pattern_id` bigint(20) DEFAULT NULL,
  `program_id` int(11) DEFAULT NULL,
  `created_at` datetime(6) DEFAULT NULL,
  `department_id` int(11) DEFAULT NULL,
  PRIMARY KEY (`group_id`),
  KEY `core_group_project_id_0d5f63ca` (`project_id`),
  KEY `core_group_pattern_id_b715922c_fk_core_progresspattern_id` (`pattern_id`),
  KEY `core_group_program_id_0eafc409_fk_core_program_pid` (`program_id`),
  KEY `core_group_department_id_8d3989e6_fk_core_depa` (`department_id`),
  CONSTRAINT `core_group_department_id_8d3989e6_fk_core_depa` FOREIGN KEY (`department_id`) REFERENCES `core_department` (`department_id`),
  CONSTRAINT `core_group_pattern_id_b715922c_fk_core_progresspattern_id` FOREIGN KEY (`pattern_id`) REFERENCES `core_progresspattern` (`id`),
  CONSTRAINT `core_group_program_id_0eafc409_fk_core_program_pid` FOREIGN KEY (`program_id`) REFERENCES `core_program` (`pid`),
  CONSTRAINT `core_group_project_id_0d5f63ca_fk_core_project_project_id` FOREIGN KEY (`project_id`) REFERENCES `core_project` (`project_id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `core_group`
--

LOCK TABLES `core_group` WRITE;
/*!40000 ALTER TABLE `core_group` DISABLE KEYS */;
INSERT INTO `core_group` VALUES (1,'group_1',1,NULL,NULL,NULL,'2026-01-07 07:04:38.035567',NULL);
/*!40000 ALTER TABLE `core_group` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `core_groupcreationrequest`
--

DROP TABLE IF EXISTS `core_groupcreationrequest`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `core_groupcreationrequest` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `group_name` varchar(255) NOT NULL,
  `department_id` int(11) NOT NULL,
  `college_id` int(11) NOT NULL,
  `note` longtext DEFAULT NULL,
  `created_at` datetime(6) DEFAULT NULL,
  `is_fully_confirmed` tinyint(1) NOT NULL,
  `creator_id` bigint(20) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `core_groupcreationrequest_creator_id_97b1a4ff_fk_core_user_id` (`creator_id`),
  CONSTRAINT `core_groupcreationrequest_creator_id_97b1a4ff_fk_core_user_id` FOREIGN KEY (`creator_id`) REFERENCES `core_user` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `core_groupcreationrequest`
--

LOCK TABLES `core_groupcreationrequest` WRITE;
/*!40000 ALTER TABLE `core_groupcreationrequest` DISABLE KEYS */;
/*!40000 ALTER TABLE `core_groupcreationrequest` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `core_groupinvitation`
--

DROP TABLE IF EXISTS `core_groupinvitation`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `core_groupinvitation` (
  `invitation_id` int(11) NOT NULL AUTO_INCREMENT,
  `status` varchar(20) NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `expires_at` datetime(6) NOT NULL,
  `responded_at` datetime(6) DEFAULT NULL,
  `group_id` int(11) NOT NULL,
  `invited_by_id` bigint(20) NOT NULL,
  `invited_student_id` bigint(20) NOT NULL,
  PRIMARY KEY (`invitation_id`),
  UNIQUE KEY `core_groupinvitation_group_id_invited_student_id_e7e882c8_uniq` (`group_id`,`invited_student_id`),
  KEY `core_groupinvitation_invited_by_id_ecbae904_fk_core_user_id` (`invited_by_id`),
  KEY `core_groupinvitation_invited_student_id_1606a3f6_fk_core_user_id` (`invited_student_id`),
  CONSTRAINT `core_groupinvitation_group_id_d794f45a_fk_core_group_group_id` FOREIGN KEY (`group_id`) REFERENCES `core_group` (`group_id`),
  CONSTRAINT `core_groupinvitation_invited_by_id_ecbae904_fk_core_user_id` FOREIGN KEY (`invited_by_id`) REFERENCES `core_user` (`id`),
  CONSTRAINT `core_groupinvitation_invited_student_id_1606a3f6_fk_core_user_id` FOREIGN KEY (`invited_student_id`) REFERENCES `core_user` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `core_groupinvitation`
--

LOCK TABLES `core_groupinvitation` WRITE;
/*!40000 ALTER TABLE `core_groupinvitation` DISABLE KEYS */;
/*!40000 ALTER TABLE `core_groupinvitation` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `core_groupmemberapproval`
--

DROP TABLE IF EXISTS `core_groupmemberapproval`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `core_groupmemberapproval` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `role` varchar(20) NOT NULL,
  `status` varchar(20) NOT NULL,
  `responded_at` datetime(6) DEFAULT NULL,
  `request_id` bigint(20) NOT NULL,
  `user_id` bigint(20) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `core_groupmemberapproval_request_id_user_id_cd483ed8_uniq` (`request_id`,`user_id`),
  KEY `core_groupmemberapproval_user_id_d3f6b9e9_fk_core_user_id` (`user_id`),
  CONSTRAINT `core_groupmemberappr_request_id_6838e530_fk_core_grou` FOREIGN KEY (`request_id`) REFERENCES `core_groupcreationrequest` (`id`),
  CONSTRAINT `core_groupmemberapproval_user_id_d3f6b9e9_fk_core_user_id` FOREIGN KEY (`user_id`) REFERENCES `core_user` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `core_groupmemberapproval`
--

LOCK TABLES `core_groupmemberapproval` WRITE;
/*!40000 ALTER TABLE `core_groupmemberapproval` DISABLE KEYS */;
/*!40000 ALTER TABLE `core_groupmemberapproval` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `core_groupmembers`
--

DROP TABLE IF EXISTS `core_groupmembers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `core_groupmembers` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `group_id` int(11) NOT NULL,
  `user_id` bigint(20) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `core_groupmembers_user_id_group_id_9a933f80_uniq` (`user_id`,`group_id`),
  KEY `core_groupmembers_group_id_8d50b7fb_fk_core_group_group_id` (`group_id`),
  CONSTRAINT `core_groupmembers_group_id_8d50b7fb_fk_core_group_group_id` FOREIGN KEY (`group_id`) REFERENCES `core_group` (`group_id`),
  CONSTRAINT `core_groupmembers_user_id_849bee57_fk_core_user_id` FOREIGN KEY (`user_id`) REFERENCES `core_user` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `core_groupmembers`
--

LOCK TABLES `core_groupmembers` WRITE;
/*!40000 ALTER TABLE `core_groupmembers` DISABLE KEYS */;
INSERT INTO `core_groupmembers` VALUES (1,1,5),(2,1,6),(3,1,7);
/*!40000 ALTER TABLE `core_groupmembers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `core_groupsupervisors`
--

DROP TABLE IF EXISTS `core_groupsupervisors`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `core_groupsupervisors` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `group_id` int(11) NOT NULL,
  `user_id` bigint(20) NOT NULL,
  `type` varchar(20) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `core_groupsupervisors_user_id_group_id_4a22a46f_uniq` (`user_id`,`group_id`),
  KEY `core_groupsupervisors_group_id_3a486c84_fk_core_group_group_id` (`group_id`),
  CONSTRAINT `core_groupsupervisors_group_id_3a486c84_fk_core_group_group_id` FOREIGN KEY (`group_id`) REFERENCES `core_group` (`group_id`),
  CONSTRAINT `core_groupsupervisors_user_id_ef155321_fk_core_user_id` FOREIGN KEY (`user_id`) REFERENCES `core_user` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `core_groupsupervisors`
--

LOCK TABLES `core_groupsupervisors` WRITE;
/*!40000 ALTER TABLE `core_groupsupervisors` DISABLE KEYS */;
INSERT INTO `core_groupsupervisors` VALUES (1,1,14,'supervisor');
/*!40000 ALTER TABLE `core_groupsupervisors` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `core_notification`
--

DROP TABLE IF EXISTS `core_notification`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `core_notification` (
  `not_ID` int(11) NOT NULL AUTO_INCREMENT,
  `message` longtext NOT NULL,
  `state` varchar(50) NOT NULL,
  `date` datetime(6) NOT NULL,
  `user_id` bigint(20) NOT NULL,
  PRIMARY KEY (`not_ID`),
  KEY `core_notification_user_id_6e341aac_fk_core_user_id` (`user_id`),
  CONSTRAINT `core_notification_user_id_6e341aac_fk_core_user_id` FOREIGN KEY (`user_id`) REFERENCES `core_user` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `core_notification`
--

LOCK TABLES `core_notification` WRITE;
/*!40000 ALTER TABLE `core_notification` DISABLE KEYS */;
/*!40000 ALTER TABLE `core_notification` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `core_notificationlog`
--

DROP TABLE IF EXISTS `core_notificationlog`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `core_notificationlog` (
  `notification_id` int(11) NOT NULL AUTO_INCREMENT,
  `message` longtext NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `is_read` tinyint(1) NOT NULL,
  `is_sent_email` tinyint(1) NOT NULL,
  `notification_type` varchar(50) DEFAULT NULL,
  `read_at` datetime(6) DEFAULT NULL,
  `recipient_id` bigint(20) DEFAULT NULL,
  `related_approval_id` int(11) DEFAULT NULL,
  `related_group_id` int(11) DEFAULT NULL,
  `related_project_id` int(11) DEFAULT NULL,
  `related_user_id` bigint(20) DEFAULT NULL,
  `title` varchar(255) NOT NULL,
  PRIMARY KEY (`notification_id`),
  KEY `core_notificationlog_related_approval_id_8e578898_fk_core_appr` (`related_approval_id`),
  KEY `core_notificationlog_related_group_id_6660a48a_fk_core_grou` (`related_group_id`),
  KEY `core_notificationlog_related_project_id_cff9baef_fk_core_proj` (`related_project_id`),
  KEY `core_notificationlog_related_user_id_7923bded_fk_core_user_id` (`related_user_id`),
  KEY `core_notifi_recipie_0a9596_idx` (`recipient_id`,`created_at`),
  KEY `core_notifi_is_read_4166bb_idx` (`is_read`,`recipient_id`),
  CONSTRAINT `core_notificationlog_recipient_id_708a156e_fk_core_user_id` FOREIGN KEY (`recipient_id`) REFERENCES `core_user` (`id`),
  CONSTRAINT `core_notificationlog_related_approval_id_8e578898_fk_core_appr` FOREIGN KEY (`related_approval_id`) REFERENCES `core_approvalrequest` (`approval_id`),
  CONSTRAINT `core_notificationlog_related_group_id_6660a48a_fk_core_grou` FOREIGN KEY (`related_group_id`) REFERENCES `core_group` (`group_id`),
  CONSTRAINT `core_notificationlog_related_project_id_cff9baef_fk_core_proj` FOREIGN KEY (`related_project_id`) REFERENCES `core_project` (`project_id`),
  CONSTRAINT `core_notificationlog_related_user_id_7923bded_fk_core_user_id` FOREIGN KEY (`related_user_id`) REFERENCES `core_user` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `core_notificationlog`
--

LOCK TABLES `core_notificationlog` WRITE;
/*!40000 ALTER TABLE `core_notificationlog` DISABLE KEYS */;
/*!40000 ALTER TABLE `core_notificationlog` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `core_patternstageassignment`
--

DROP TABLE IF EXISTS `core_patternstageassignment`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `core_patternstageassignment` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `order` int(10) unsigned NOT NULL CHECK (`order` >= 0),
  `max_mark` double DEFAULT NULL,
  `pattern_id` bigint(20) NOT NULL,
  `stage_id` bigint(20) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `core_patternstageassignment_pattern_id_stage_id_3a755db9_uniq` (`pattern_id`,`stage_id`),
  UNIQUE KEY `core_patternstageassignment_pattern_id_order_8a301bd5_uniq` (`pattern_id`,`order`),
  KEY `core_patternstageass_stage_id_97c0d469_fk_core_prog` (`stage_id`),
  CONSTRAINT `core_patternstageass_pattern_id_5dc5ae52_fk_core_prog` FOREIGN KEY (`pattern_id`) REFERENCES `core_progresspattern` (`id`),
  CONSTRAINT `core_patternstageass_stage_id_97c0d469_fk_core_prog` FOREIGN KEY (`stage_id`) REFERENCES `core_progressstage` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `core_patternstageassignment`
--

LOCK TABLES `core_patternstageassignment` WRITE;
/*!40000 ALTER TABLE `core_patternstageassignment` DISABLE KEYS */;
INSERT INTO `core_patternstageassignment` VALUES (1,1,20,1,1);
/*!40000 ALTER TABLE `core_patternstageassignment` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `core_patternsubstageassignment`
--

DROP TABLE IF EXISTS `core_patternsubstageassignment`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `core_patternsubstageassignment` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `order` int(10) unsigned NOT NULL CHECK (`order` >= 0),
  `max_mark` double DEFAULT NULL,
  `pattern_stage_assignment_id` bigint(20) NOT NULL,
  `sub_stage_id` bigint(20) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `core_patternsubstageassi_pattern_stage_assignment_8a3646e8_uniq` (`pattern_stage_assignment_id`,`sub_stage_id`),
  UNIQUE KEY `core_patternsubstageassi_pattern_stage_assignment_935d9564_uniq` (`pattern_stage_assignment_id`,`order`),
  KEY `core_patternsubstage_sub_stage_id_30b353c4_fk_core_prog` (`sub_stage_id`),
  CONSTRAINT `core_patternsubstage_pattern_stage_assign_6d8899c3_fk_core_patt` FOREIGN KEY (`pattern_stage_assignment_id`) REFERENCES `core_patternstageassignment` (`id`),
  CONSTRAINT `core_patternsubstage_sub_stage_id_30b353c4_fk_core_prog` FOREIGN KEY (`sub_stage_id`) REFERENCES `core_progresssubstage` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `core_patternsubstageassignment`
--

LOCK TABLES `core_patternsubstageassignment` WRITE;
/*!40000 ALTER TABLE `core_patternsubstageassignment` DISABLE KEYS */;
/*!40000 ALTER TABLE `core_patternsubstageassignment` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `core_permission`
--

DROP TABLE IF EXISTS `core_permission`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `core_permission` (
  `perm_ID` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `Description` longtext DEFAULT NULL,
  PRIMARY KEY (`perm_ID`)
) ENGINE=InnoDB AUTO_INCREMENT=42 DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `core_permission`
--

LOCK TABLES `core_permission` WRITE;
/*!40000 ALTER TABLE `core_permission` DISABLE KEYS */;
/*!40000 ALTER TABLE `core_permission` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `core_program`
--

DROP TABLE IF EXISTS `core_program`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `core_program` (
  `pid` int(11) NOT NULL AUTO_INCREMENT,
  `p_name` varchar(255) NOT NULL,
  `department_id` int(11) NOT NULL,
  PRIMARY KEY (`pid`),
  KEY `core_program_department_id_7121ebdd_fk_core_depa` (`department_id`),
  CONSTRAINT `core_program_department_id_7121ebdd_fk_core_depa` FOREIGN KEY (`department_id`) REFERENCES `core_department` (`department_id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `core_program`
--

LOCK TABLES `core_program` WRITE;
/*!40000 ALTER TABLE `core_program` DISABLE KEYS */;
INSERT INTO `core_program` VALUES (1,'┘┘è╪▓┘è╪د╪ة',1),(2,'╪╖┘┘ê┘╪ر ┘à╪ذ┘â╪▒╪ر - ╪▒┘è╪د╪╢ ╪د╪╖┘╪د┘',2),(3,'╪╣┘┘ê┘à ╪د┘╪ص╪د╪│┘ê╪ذ ┘ê╪ز┘é┘┘è╪ر',3);
/*!40000 ALTER TABLE `core_program` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `core_progresspattern`
--

DROP TABLE IF EXISTS `core_progresspattern`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `core_progresspattern` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `core_progresspattern`
--

LOCK TABLES `core_progresspattern` WRITE;
/*!40000 ALTER TABLE `core_progresspattern` DISABLE KEYS */;
INSERT INTO `core_progresspattern` VALUES (1,'pattren_1');
/*!40000 ALTER TABLE `core_progresspattern` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `core_progressstage`
--

DROP TABLE IF EXISTS `core_progressstage`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `core_progressstage` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `description` longtext DEFAULT NULL,
  `name` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `core_progressstage`
--

LOCK TABLES `core_progressstage` WRITE;
/*!40000 ALTER TABLE `core_progressstage` DISABLE KEYS */;
INSERT INTO `core_progressstage` VALUES (1,'','project _start');
/*!40000 ALTER TABLE `core_progressstage` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `core_progresssubstage`
--

DROP TABLE IF EXISTS `core_progresssubstage`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `core_progresssubstage` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `description` longtext DEFAULT NULL,
  `order` int(10) unsigned NOT NULL CHECK (`order` >= 0),
  `max_mark` double DEFAULT NULL,
  `stage_id` bigint(20) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `core_progresssubstage_stage_id_name_43aa852c_uniq` (`stage_id`,`name`),
  CONSTRAINT `core_progresssubstage_stage_id_98f4ee51_fk_core_progressstage_id` FOREIGN KEY (`stage_id`) REFERENCES `core_progressstage` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `core_progresssubstage`
--

LOCK TABLES `core_progresssubstage` WRITE;
/*!40000 ALTER TABLE `core_progresssubstage` DISABLE KEYS */;
/*!40000 ALTER TABLE `core_progresssubstage` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `core_project`
--

DROP TABLE IF EXISTS `core_project`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `core_project` (
  `project_id` int(11) NOT NULL AUTO_INCREMENT,
  `title` varchar(500) NOT NULL,
  `type` varchar(100) NOT NULL,
  `start_date` date NOT NULL,
  `end_date` date DEFAULT NULL,
  `state` varchar(100) NOT NULL,
  `description` longtext NOT NULL,
  `college_id` int(11) DEFAULT NULL,
  `created_by_id` bigint(20) DEFAULT NULL,
  PRIMARY KEY (`project_id`),
  KEY `core_project_college_id_e12ccd65_fk_core_college_cid` (`college_id`),
  KEY `core_project_created_by_id_3ae31859_fk_core_user_id` (`created_by_id`),
  CONSTRAINT `core_project_college_id_e12ccd65_fk_core_college_cid` FOREIGN KEY (`college_id`) REFERENCES `core_college` (`cid`),
  CONSTRAINT `core_project_created_by_id_3ae31859_fk_core_user_id` FOREIGN KEY (`created_by_id`) REFERENCES `core_user` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `core_project`
--

LOCK TABLES `core_project` WRITE;
/*!40000 ALTER TABLE `core_project` DISABLE KEYS */;
INSERT INTO `core_project` VALUES (1,'pro_1','PrivateCompany','2025-12-11',NULL,'Completed','┘à┘ç┘à',3,NULL);
/*!40000 ALTER TABLE `core_project` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `core_role`
--

DROP TABLE IF EXISTS `core_role`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `core_role` (
  `role_ID` int(11) NOT NULL AUTO_INCREMENT,
  `type` varchar(100) NOT NULL,
  `role_type` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`role_ID`)
) ENGINE=InnoDB AUTO_INCREMENT=14 DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `core_role`
--

LOCK TABLES `core_role` WRITE;
/*!40000 ALTER TABLE `core_role` DISABLE KEYS */;
INSERT INTO `core_role` VALUES (1,'Ministry','General_Managment_System'),(2,'External_Company',NULL),(3,'Dean',NULL),(4,'CO-Supervisor',NULL),(5,'Student',NULL),(6,'University President',NULL),(7,'System Manager',NULL),(8,'Department Head',NULL),(9,'Supervisor',NULL);
/*!40000 ALTER TABLE `core_role` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `core_rolepermission`
--

DROP TABLE IF EXISTS `core_rolepermission`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `core_rolepermission` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `permission_id` int(11) NOT NULL,
  `role_id` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `core_rolepermission_role_ID_perm_ID_4910cd40_uniq` (`role_id`,`permission_id`),
  KEY `core_rolepermission_permission_id_c07e293f_fk_core_perm` (`permission_id`),
  CONSTRAINT `core_rolepermission_permission_id_c07e293f_fk_core_perm` FOREIGN KEY (`permission_id`) REFERENCES `core_permission` (`perm_ID`),
  CONSTRAINT `core_rolepermission_role_id_473ce1e1_fk_core_role_role_ID` FOREIGN KEY (`role_id`) REFERENCES `core_role` (`role_ID`)
) ENGINE=InnoDB AUTO_INCREMENT=67 DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `core_rolepermission`
--

LOCK TABLES `core_rolepermission` WRITE;
/*!40000 ALTER TABLE `core_rolepermission` DISABLE KEYS */;
/*!40000 ALTER TABLE `core_rolepermission` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `core_studentprogress`
--

DROP TABLE IF EXISTS `core_studentprogress`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `core_studentprogress` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `score` double DEFAULT NULL,
  `notes` longtext DEFAULT NULL,
  `updated_at` datetime(6) NOT NULL,
  `created_at` datetime(6) NOT NULL,
  `group_id` int(11) NOT NULL,
  `pattern_stage_assignment_id` bigint(20) NOT NULL,
  `student_id` bigint(20) NOT NULL,
  `sub_stage_assignment_id` bigint(20) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `core_studentprogress_student_id_group_id_patt_c8bbcf69_uniq` (`student_id`,`group_id`,`pattern_stage_assignment_id`,`sub_stage_assignment_id`),
  KEY `core_studentprogress_group_id_b278db14_fk_core_group_group_id` (`group_id`),
  KEY `core_studentprogress_pattern_stage_assign_52221ec8_fk_core_patt` (`pattern_stage_assignment_id`),
  KEY `core_studentprogress_sub_stage_assignment_646204a0_fk_core_patt` (`sub_stage_assignment_id`),
  CONSTRAINT `core_studentprogress_group_id_b278db14_fk_core_group_group_id` FOREIGN KEY (`group_id`) REFERENCES `core_group` (`group_id`),
  CONSTRAINT `core_studentprogress_pattern_stage_assign_52221ec8_fk_core_patt` FOREIGN KEY (`pattern_stage_assignment_id`) REFERENCES `core_patternstageassignment` (`id`),
  CONSTRAINT `core_studentprogress_student_id_5fe391e4_fk_core_user_id` FOREIGN KEY (`student_id`) REFERENCES `core_user` (`id`),
  CONSTRAINT `core_studentprogress_sub_stage_assignment_646204a0_fk_core_patt` FOREIGN KEY (`sub_stage_assignment_id`) REFERENCES `core_patternsubstageassignment` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `core_studentprogress`
--

LOCK TABLES `core_studentprogress` WRITE;
/*!40000 ALTER TABLE `core_studentprogress` DISABLE KEYS */;
/*!40000 ALTER TABLE `core_studentprogress` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `core_systemsettings`
--

DROP TABLE IF EXISTS `core_systemsettings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `core_systemsettings` (
  `setting_value` longtext NOT NULL,
  `description` longtext DEFAULT NULL,
  `setting_key` varchar(255) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  PRIMARY KEY (`setting_key`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `core_systemsettings`
--

LOCK TABLES `core_systemsettings` WRITE;
/*!40000 ALTER TABLE `core_systemsettings` DISABLE KEYS */;
/*!40000 ALTER TABLE `core_systemsettings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `core_university`
--

DROP TABLE IF EXISTS `core_university`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `core_university` (
  `uid` int(11) NOT NULL AUTO_INCREMENT,
  `uname_ar` varchar(255) NOT NULL,
  `uname_en` varchar(255) DEFAULT NULL,
  `type` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`uid`)
) ENGINE=InnoDB AUTO_INCREMENT=21 DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `core_university`
--

LOCK TABLES `core_university` WRITE;
/*!40000 ALTER TABLE `core_university` DISABLE KEYS */;
/*!40000 ALTER TABLE `core_university` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `core_user`
--

DROP TABLE IF EXISTS `core_user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `core_user` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `password` varchar(128) NOT NULL,
  `last_login` datetime(6) DEFAULT NULL,
  `is_superuser` tinyint(1) NOT NULL,
  `username` varchar(150) NOT NULL,
  `first_name` varchar(150) NOT NULL,
  `last_name` varchar(150) NOT NULL,
  `email` varchar(254) NOT NULL,
  `is_staff` tinyint(1) NOT NULL,
  `is_active` tinyint(1) NOT NULL,
  `date_joined` datetime(6) NOT NULL,
  `phone` varchar(20) DEFAULT NULL,
  `company_name` varchar(255) DEFAULT NULL,
  `name` varchar(255) DEFAULT NULL,
  `gender` varchar(10) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`)
) ENGINE=InnoDB AUTO_INCREMENT=52 DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `core_user`
--

LOCK TABLES `core_user` WRITE;
/*!40000 ALTER TABLE `core_user` DISABLE KEYS */;
/*!40000 ALTER TABLE `core_user` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `core_user_groups`
--

DROP TABLE IF EXISTS `core_user_groups`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `core_user_groups` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `user_id` bigint(20) NOT NULL,
  `group_id` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `core_user_groups_user_id_group_id_c82fcad1_uniq` (`user_id`,`group_id`),
  KEY `core_user_groups_group_id_fe8c697f_fk_auth_group_id` (`group_id`),
  CONSTRAINT `core_user_groups_group_id_fe8c697f_fk_auth_group_id` FOREIGN KEY (`group_id`) REFERENCES `auth_group` (`id`),
  CONSTRAINT `core_user_groups_user_id_70b4d9b8_fk_core_user_id` FOREIGN KEY (`user_id`) REFERENCES `core_user` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `core_user_groups`
--

LOCK TABLES `core_user_groups` WRITE;
/*!40000 ALTER TABLE `core_user_groups` DISABLE KEYS */;
/*!40000 ALTER TABLE `core_user_groups` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `core_user_user_permissions`
--

DROP TABLE IF EXISTS `core_user_user_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `core_user_user_permissions` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `user_id` bigint(20) NOT NULL,
  `permission_id` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `core_user_user_permissions_user_id_permission_id_73ea0daa_uniq` (`user_id`,`permission_id`),
  KEY `core_user_user_permi_permission_id_35ccf601_fk_auth_perm` (`permission_id`),
  CONSTRAINT `core_user_user_permi_permission_id_35ccf601_fk_auth_perm` FOREIGN KEY (`permission_id`) REFERENCES `auth_permission` (`id`),
  CONSTRAINT `core_user_user_permissions_user_id_085123d3_fk_core_user_id` FOREIGN KEY (`user_id`) REFERENCES `core_user` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=141 DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `core_user_user_permissions`
--

LOCK TABLES `core_user_user_permissions` WRITE;
/*!40000 ALTER TABLE `core_user_user_permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `core_user_user_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `core_userroles`
--

DROP TABLE IF EXISTS `core_userroles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `core_userroles` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `role_id` int(11) NOT NULL,
  `user_id` bigint(20) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `core_userroles_user_id_role_ID_c9e51f16_uniq` (`user_id`,`role_id`),
  KEY `core_userroles_role_id_6fae830d_fk_core_role_role_ID` (`role_id`),
  CONSTRAINT `core_userroles_role_id_6fae830d_fk_core_role_role_ID` FOREIGN KEY (`role_id`) REFERENCES `core_role` (`role_ID`),
  CONSTRAINT `core_userroles_user_id_d7bbca76_fk_core_user_id` FOREIGN KEY (`user_id`) REFERENCES `core_user` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=41 DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `core_userroles`
--

LOCK TABLES `core_userroles` WRITE;
/*!40000 ALTER TABLE `core_userroles` DISABLE KEYS */;
INSERT INTO `core_userroles` VALUES (5,5,2),(6,9,3),(7,5,4),(8,5,5),(9,5,6),(10,5,7),(13,3,11),(14,4,12),(15,9,13),(27,8,14),(16,9,14),(17,9,15),(18,1,16),(19,1,17),(20,2,18),(22,4,20),(23,6,21),(24,6,22),(25,8,23),(36,9,23),(28,7,25),(34,2,40),(40,5,51);
/*!40000 ALTER TABLE `core_userroles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_admin_log`
--

DROP TABLE IF EXISTS `django_admin_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `django_admin_log` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `action_time` datetime(6) NOT NULL,
  `object_id` longtext DEFAULT NULL,
  `object_repr` varchar(200) NOT NULL,
  `action_flag` smallint(5) unsigned NOT NULL CHECK (`action_flag` >= 0),
  `change_message` longtext NOT NULL,
  `content_type_id` int(11) DEFAULT NULL,
  `user_id` bigint(20) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `django_admin_log_content_type_id_c4bce8eb_fk_django_co` (`content_type_id`),
  KEY `django_admin_log_user_id_c564eba6_fk_core_user_id` (`user_id`),
  CONSTRAINT `django_admin_log_content_type_id_c4bce8eb_fk_django_co` FOREIGN KEY (`content_type_id`) REFERENCES `django_content_type` (`id`),
  CONSTRAINT `django_admin_log_user_id_c564eba6_fk_core_user_id` FOREIGN KEY (`user_id`) REFERENCES `core_user` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=229 DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_admin_log`
--

LOCK TABLES `django_admin_log` WRITE;
/*!40000 ALTER TABLE `django_admin_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_admin_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_content_type`
--

DROP TABLE IF EXISTS `django_content_type`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `django_content_type` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `app_label` varchar(100) NOT NULL,
  `model` varchar(100) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `django_content_type_app_label_model_76bd3d3b_uniq` (`app_label`,`model`)
) ENGINE=InnoDB AUTO_INCREMENT=46 DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_content_type`
--

LOCK TABLES `django_content_type` WRITE;
/*!40000 ALTER TABLE `django_content_type` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_content_type` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_migrations`
--

DROP TABLE IF EXISTS `django_migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `django_migrations` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `app` varchar(255) NOT NULL,
  `name` varchar(255) NOT NULL,
  `applied` datetime(6) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=58 DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_migrations`
--

LOCK TABLES `django_migrations` WRITE;
/*!40000 ALTER TABLE `django_migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_session`
--

DROP TABLE IF EXISTS `django_session`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `django_session` (
  `session_key` varchar(40) NOT NULL,
  `session_data` longtext NOT NULL,
  `expire_date` datetime(6) NOT NULL,
  PRIMARY KEY (`session_key`),
  KEY `django_session_expire_date_a5c62663` (`expire_date`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_session`
--

LOCK TABLES `django_session` WRITE;
/*!40000 ALTER TABLE `django_session` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_session` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_site`
--

DROP TABLE IF EXISTS `django_site`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `django_site` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `domain` varchar(100) NOT NULL,
  `name` varchar(50) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `django_site_domain_a2e37b91_uniq` (`domain`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_site`
--

LOCK TABLES `django_site` WRITE;
/*!40000 ALTER TABLE `django_site` DISABLE KEYS */;
INSERT INTO `django_site` VALUES (1,'example.com','example.com');
/*!40000 ALTER TABLE `django_site` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `socialaccount_socialaccount`
--

DROP TABLE IF EXISTS `socialaccount_socialaccount`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `socialaccount_socialaccount` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `provider` varchar(200) NOT NULL,
  `uid` varchar(191) NOT NULL,
  `last_login` datetime(6) NOT NULL,
  `date_joined` datetime(6) NOT NULL,
  `extra_data` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin NOT NULL CHECK (json_valid(`extra_data`)),
  `user_id` bigint(20) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `socialaccount_socialaccount_provider_uid_fc810c6e_uniq` (`provider`,`uid`),
  KEY `socialaccount_socialaccount_user_id_8146e70c_fk_core_user_id` (`user_id`),
  CONSTRAINT `socialaccount_socialaccount_user_id_8146e70c_fk_core_user_id` FOREIGN KEY (`user_id`) REFERENCES `core_user` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `socialaccount_socialaccount`
--

LOCK TABLES `socialaccount_socialaccount` WRITE;
/*!40000 ALTER TABLE `socialaccount_socialaccount` DISABLE KEYS */;
/*!40000 ALTER TABLE `socialaccount_socialaccount` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `socialaccount_socialapp`
--

DROP TABLE IF EXISTS `socialaccount_socialapp`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `socialaccount_socialapp` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `provider` varchar(30) NOT NULL,
  `name` varchar(40) NOT NULL,
  `client_id` varchar(191) NOT NULL,
  `secret` varchar(191) NOT NULL,
  `key` varchar(191) NOT NULL,
  `provider_id` varchar(200) NOT NULL,
  `settings` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin NOT NULL CHECK (json_valid(`settings`)),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `socialaccount_socialapp`
--

LOCK TABLES `socialaccount_socialapp` WRITE;
/*!40000 ALTER TABLE `socialaccount_socialapp` DISABLE KEYS */;
/*!40000 ALTER TABLE `socialaccount_socialapp` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `socialaccount_socialapp_sites`
--

DROP TABLE IF EXISTS `socialaccount_socialapp_sites`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `socialaccount_socialapp_sites` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `socialapp_id` int(11) NOT NULL,
  `site_id` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `socialaccount_socialapp_sites_socialapp_id_site_id_71a9a768_uniq` (`socialapp_id`,`site_id`),
  KEY `socialaccount_socialapp_sites_site_id_2579dee5_fk_django_site_id` (`site_id`),
  CONSTRAINT `socialaccount_social_socialapp_id_97fb6e7d_fk_socialacc` FOREIGN KEY (`socialapp_id`) REFERENCES `socialaccount_socialapp` (`id`),
  CONSTRAINT `socialaccount_socialapp_sites_site_id_2579dee5_fk_django_site_id` FOREIGN KEY (`site_id`) REFERENCES `django_site` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `socialaccount_socialapp_sites`
--

LOCK TABLES `socialaccount_socialapp_sites` WRITE;
/*!40000 ALTER TABLE `socialaccount_socialapp_sites` DISABLE KEYS */;
/*!40000 ALTER TABLE `socialaccount_socialapp_sites` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `socialaccount_socialtoken`
--

DROP TABLE IF EXISTS `socialaccount_socialtoken`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `socialaccount_socialtoken` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `token` longtext NOT NULL,
  `token_secret` longtext NOT NULL,
  `expires_at` datetime(6) DEFAULT NULL,
  `account_id` int(11) NOT NULL,
  `app_id` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `socialaccount_socialtoken_app_id_account_id_fca4e0ac_uniq` (`app_id`,`account_id`),
  KEY `socialaccount_social_account_id_951f210e_fk_socialacc` (`account_id`),
  CONSTRAINT `socialaccount_social_account_id_951f210e_fk_socialacc` FOREIGN KEY (`account_id`) REFERENCES `socialaccount_socialaccount` (`id`),
  CONSTRAINT `socialaccount_social_app_id_636a42d7_fk_socialacc` FOREIGN KEY (`app_id`) REFERENCES `socialaccount_socialapp` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `socialaccount_socialtoken`
--

LOCK TABLES `socialaccount_socialtoken` WRITE;
/*!40000 ALTER TABLE `socialaccount_socialtoken` DISABLE KEYS */;
/*!40000 ALTER TABLE `socialaccount_socialtoken` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-01-13  9:26:34
